/.direnv/
/.envrc.local
/dist-newstyle/
/result
/keys/
/secrets.env
/TAGS
/.image-cache/
/services/web/dist-newstyle/
/kpbj-stream-dev.qcow2
/e2e/test-results/
/e2e/playwright-report/
/e2e/blob-report/
