# fly.toml app configuration file for kpbj-fm
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kpbj-fm'
primary_region = 'lax'

[build]
  image = 'ghcr.io/solomon-b/kpbj.fm:latest'

[deploy]
  release_command = "-c '/bin/sqlx migrate run --source /migrations'"

[env]
  APP_ENVIRONMENT = 'Production'
  APP_HOSTNAME = 'kpbj.fm'
  APP_OBSERVABILITY_EXPORTER = 'StdOut'
  APP_OBSERVABILITY_VERBOSITY = 'Brief'
  APP_WARP_PORT = '4000'
  APP_WARP_SERVERNAME = 'kpbj.fm'
  APP_WARP_TIMEOUT = '100'
  APP_GOOGLE_ANALYTICS_GTAG = 'G-ST01RRVLDB'

[[services]]
  protocol = 'tcp'
  internal_port = 4000

[[services.ports]]
    port = 80
    handlers = ['http']

[[services.ports]]
    port = 443
    handlers = ['tls', 'http']

[mounts]
  source = 'kpbj_uploads'
  destination = '/tmp/kpbj'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
