# Local development overrides
# Usage: docker compose -f docker-compose.yml -f docker-compose.dev.yml up -d

services:
  icecast:
    ports:
      - "8000:8000"

  liquidsoap:
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - API_BASE=http://host.docker.internal:4000/api/playout
      - PLAYOUT_SECRET=${PLAYOUT_SECRET:-}

  webhook:
    ports:
      - "9000:9000"
    environment:
      - RESTART_CMD=/bin/docker
      - ICECAST_SERVICE=liquidsoap-icecast-1
      - LIQUIDSOAP_SERVICE=liquidsoap-liquidsoap-1
