name: Deploy to Staging

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            extra-platforms = aarch64-linux

      - name: Setup Cachix
        uses: cachix/cachix-action@v12
        with:
          name: kpbj-fm
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.STAGING_VPS_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H staging.kpbj.fm >> ~/.ssh/known_hosts

      - name: Deploy NixOS configuration
        run: |
          nix shell nixpkgs#nixos-rebuild -c \
            nixos-rebuild boot \
            --flake .#kpbj-stream-staging \
            --target-host root@staging.kpbj.fm

      - name: Reboot into new configuration
        run: ssh root@staging.kpbj.fm reboot
